{% extends "base.html" %}
{%block content%}
<div class="row">
    <div class="col-md-4 offset-md-4">
        <h2>Editar de Curso</h2>
        <div class="card py-2">
            <div class="card-body">
                <form action="/editarCurso/" method="POST"> {% csrf_token %} <!-- el CSRF Protege de acciones maliciosas en nuestros formularios-->
                    <div class="form-group py-2">
                        <input type="text" id="txtCodigo" name="txtCodigo" class="form-control" placeholder="Código" value="{{curso.codigo}}" minlength="6" maxlength="6" readonly required>
                        <!--el atributo readonly hace que no sea modificable el código, lo cual es conveniente porque es nuestra PK-->
                        <!--Utilizo value = {{curso.atributo}} para que por defecto ya me aparezcan los atributos del curso a editar-->
                    </div>
                    <div class="form-group py-2">
                        <input type="text" id="txtNombre" name="txtNombre" value="{{curso.nombre}}"class="form-control" placeholder="Nombre" maxlength="50" required>
                    </div>

                    <div class="form-group py-2">
                        <input type="text" id="numCreditos" name="numCreditos" value="{{curso.creditos}}"class="form-control" min="1" maxl="9" required>
                    </div>

                    <div class="form-group py-2">

                        <button class="btn btn-success btn-block text-white" type="submit">Guardar</button>

                    </div>
                </form>
            </div>
    </div>
</div>
{% endblock%}